<section>
  <form (ngSubmit)="onSubmit()">
    <div class="main">
      <div>
        <p>INITIAL INVESTMENT</p>
        <input
          type="number"
          name="initialInvestment"
          value="1000"
          [(ngModel)]="initialInvestment"
        />
      </div>

      <div>
        <p>ANNUAL INVESTMENT</p>
        <input
          type="number"
          name="annualInvestment"
          value="100"
          [(ngModel)]="annualInvestment"
        />
      </div>

      <div>
        <p>EXPECTED RETURN</p>
        <input
          type="number"
          name="expectedRetrun"
          value="6"
          [(ngModel)]="expectedRetrun"
        />
      </div>

      <div>
        <p>DURATION</p>
        <input type="number" name="duration" value="1" [(ngModel)]="duration" />
      </div>

      <button>CALCULATE</button>
    </div>
  </form>
</section>
