<section>
  <div class="main">
    <div>
      <p>INITIAL INVESTMENT</p>
      <input type="number" value="1000" />
    </div>

    <div>
      <p>ANNUAL INVESTMENT</p>
      <input type="number" value="100" />
    </div>

    <div>
      <p>EXPECTED RETURN</p>
      <input type="number" value="6" />
    </div>

    <div>
      <p>DURATION</p>
      <input type="number" value="1" />
    </div>
    <button>CALCULATE</button>
  </div>
</section>

<p class="suggestion">Please enter some values and press "Calculate"</p>
